<div>
    <h1>Convert Revolut statement to YNAB compatible format</h1>

    <form method="post" action="/convert" enctype="multipart/form-data">
        <div class="form-group">
            <label for="statement">Revolut statement file (CSV)</label>
            <input name="statement" class="form-control-file" type="file">
        </div>
        <button type="submit" class="btn btn-primary">Convert</button>
    </form>
</div>
